/* General Styles */
/* body { */
/* 	background:url(/css/background2.jpg?auto=compress&cs=tinysrgb&h=750&w=1260); */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	text-align: center; */
/* 	color: #fff; */
/* } */

body {
	background:url(/images/background2.jpg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-size: cover;
	height:100%;
	background-color: #000;
	color: #fff;
}

.table-spacing {
   border-spacing: 5px !important;
}

table.dataTable thead tr {    
/* 	background-color: midnightblue;  */
	background-color: #002D62;
	color: white;
}

table.dataTable tbody tr td {
	border: 1px solid #c0c0c0;
	color: white;
}
	
table.dataTable tfoot tr { 
	background-color: #002D62;
	color: white;
}
		
div.dt-button-collection {
	background-color: black;
}

table.dataTable.table.table-striped > tbody > tr:nth-of-type(2n+1) {
/*     backdrop-filter: blur(5px); */
	background-color: #4B9CD3 !important;
}

table.dataTable.table.table-striped > tbody > tr {
/* 	backdrop-filter: blur(5px); */
    background-color: #0039a6 !important;
}

.dt-button {
	font-weight: bold !important;
}

div.dt-search label {
	font-weight: bold !important;
	color: white !important;
}

#mongodbLogTable thead th {
	border: 1px solid white !important;
}

#mongodbLogTable tfoot th {
	border: 1px solid white !important;
}

div.dt-buttons > .dt-button, div.dt-buttons > div.dt-button-split .dt-button {
	color: white !important;
}

.page-link {
	background-color: #002D62 !important;
	color: white !important;
	font-weight: bold;
}

:root {
	--dt-row-selected: 255, 0, 0 !important;
}

div.dt-container div.dt-info {
    color: white !important;
}

.queryForm h2, .queryForm label {	
	color: #C0C0C0 !important;
	font-weight:bold;
}
		
.queryForm fieldset {
	display: block;
	min-inline-size: min-content;
	margin-inline: 2px;
	border-width: 2px;
	border-style: groove;
	border-color: threedface;
	border-image: initial;
	padding-block: 0.35em 0.625em;
	padding-inline: 0.75em;
}
