<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

	<script src="/js/jquery.timepicker.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/jquery.timepicker.min.css}"/>

	<script src="/js/jquery.date.time.picker.js"></script>

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css" />
	
    <link rel="stylesheet" th:href="@{/css/evaluatorMain.css}"/>
    <link rel="stylesheet" th:href="@{/css/queryForm.css}"/>
    <link rel="stylesheet" th:href="@{/css/resultTable.css}"/>
    
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">

	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap4.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/colreorder/2.0.3/js/dataTables.colReorder.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/colreorder/2.0.3/js/colReorder.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.colVis.min.js"></script>
		
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap4.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/2.0.3/css/colReorder.dataTables.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css"/>
	
	<script src="/js/msToTime.js"></script>
	<script src="/js/numberWithCommas.js"></script>
	
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("form").on("submit", function(event) {
				$.LoadingOverlay("show");
			});
			
			$("#diffAdditionalDates").find("*").prop("disabled", true);
			$("#diffAdditionalDates a").click(function(e) {
				e.preventDefault();
			});
			
			$("#diffAdditionalDates").addClass("disabled-div");
			
			$('#queryType').on('change', function() { 
				if(this.value == "diff") {
					$("#diffAdditionalDates").find("*").prop("disabled", false);
					$("#diffAdditionalDates a").unbind("click");
					$("#diffAdditionalDates").removeClass("disabled-div");
				}
				else {
					$("#diffAdditionalDates").find("*").prop("disabled", true);
					$("#diffAdditionalDates a").click(function(e) {
						e.preventDefault();
					});
					
					$("#diffAdditionalDates").addClass("disabled-div");
				}
 			});
		});
	</script>
	
	<script>
		function togglePopup() {
			$(".content").toggle();
		}
	
		$(document).ready(function(){ 
			oTable = $("#mongodbLogTable").DataTable({
				responsive: true,
				colReorder: true,
				fixedHeader: true,
				layout: { 
					topStart: { 
						buttons: [
							{
								text: 'Query',
								action: function (e, dt, node, config) {
									var queryHashesSelected;
									for (var i = 0; i < oTable.rows('.selected').data().length; i++) {
										var queryHash =  oTable.rows('.selected').data()[i].queryHash;
										var newQueryHash = queryHash.replace("<span>", "");
										newQueryHash = newQueryHash.replace("</span>", "");
										if (i == 0) {
											queryHashesSelected = newQueryHash;
										}
										else {
											queryHashesSelected += ", ";
											queryHashesSelected += newQueryHash;
										}
									}
									if ( !!queryHashesSelected)
									{
										const inputField = document.getElementById("queryHashes");
										// Replace the current value with the new value
										inputField.value = queryHashesSelected;
									}
									togglePopup();
									$( 'input[name="dateRange"]').daterangepicker("hide");
								}
							},
							'colvis', 
							'pageLength'
						] 
					}
				},
				columns: [
					{	data: "queryHash" },
					{	data: "collection" },
					{	data: "planCacheKey" },
					{	data: "logEntryDate" },
					{	data: "docsExamined" },
					{	data: "keysExamined" },
					{	data: "nreturned" },
					{	data: "duration" },
					{	data: "cmd" },
					{	data: "planSummary" }, 
					{	data: "msg" }
				],
				columnDefs: [
					{	"visible": false, "targets": [1], className: 'hidden' },
					{	"visible": false, "targets": [2], className: 'hidden' },
					{	"visible": false, "targets": [3], className: 'hidden' },
					{	"visible": false, "targets": [9], className: 'hidden' },
					{	"visible": false, "targets": [10], className: 'hidden' }
				]
			});
			
			oTable.on('click', 'tbody tr', function (e) {
			    e.currentTarget.classList.toggle('selected');
			});
		});
		
		document.addEventListener('DOMContentLoaded', function() {
			applyMsToTimeElements();
			applyNumberWithCommas();
			$(".content").toggle();

		});
		    
	</script>
</head>
<body>
	<div class="box" onclick="window.location.href='http://localhost:8080/home'"></div>
	<div th:replace="fragments/queryForm :: queryFormFrag"></div>
	<div align="center" th:text="${query.dateRange}" style="padding-top: 10px; font-weight: bold;"> </div>
	<div style="padding:25px; padding-top:15px;">
		<table id="mongodbLogTable" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>QueryHash</th>
					<th>Collection</th>
					<th>Plan Cache Key</th>
					<th>Log Entry Date</th>
					<th>Docs Examined</th>
					<th>Keys Examined</th>
					<th>nReturned</th>
					<th>Duration</th>
					<th>Query</th>
					<th>Plan Summary</th>
					<th>error Message</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="logEntry : ${logEntries}" th:id="${logEntry.id}">
					<td><span th:text="${logEntry.queryHash}">QueryHash</span></td>
					<td><span th:text="${logEntry.collection}">Collection</span></td>
					<td><span th:text="${logEntry.planCacheKey}">Plan Cache Key</span></td>
					<td><span th:text="${logEntry.logEntryDate}">Log Entry Date</span></td>
					<td class="numberWithCommas"><span th:text="${logEntry.docsExamined}">Docs Examined</span></td>
					<td class="numberWithCommas"><span th:text="${logEntry.keysExamined}">Keys Examined</span></td>
					<td class="numberWithCommas"><span th:text="${logEntry.nreturned}">nReturned</span></td>	
					<td class="msToTimeElement"><span th:text="${logEntry.duration}">Duration</span></td>
					<td><span th:text="${logEntry.cmd}">Query</span></td>
					<td><span th:text="${logEntry.planSummary}">Plan Summary</span></td>
					<td><span th:text="${logEntry.msg}">Error Message</span></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>QueryHash</th>
					<th>Collection</th>
					<th>Plan Cache Key</th>
					<th>Log Entry Date</th>
					<th>Docs Examined</th>
					<th>Keys Examined</th>
					<th>nReturned</th>
					<th>Duration</th>
					<th>Query</th>
					<th>Plan Summary</th>
					<th>error Message</th>
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>